@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<div style = "text-align: center;">
    <h2>Book Addition/Deletion Form</h2>
    <p>Enter the book's name: @bookName</p>
    <input type="search" value="Book Name" class="btn btn-default"><br/>
    <button class="btn btn-primary" @onclick="IncrementCount">Add/Delete</button>
</div>

@code {
    private int currentCount = 0;
    private string bookName = "";

    private void IncrementCount()
    {
        currentCount++;
    }
}
