@page "/login"

<style>
	.login{text-align: center;}
</style>
    
<div class="login">
    <h2>Login Page</h2><br>    
    <form id="login" method="get">    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>
        <input type="radio" id="clearance1" name="radiobutton"><label>Staff</label>
        <input type="radio" id="clearance2" name="radiobutton"><label>Customer</label>
        <br><br>     
        <input type="button" name="log" id="log" value="Log Me In">       
        <br><br>   
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>?    
    </form>     
</div>    