@page "/search"

<div style = "text-align: center;">
    <p>Looking for a specific book? Use the search!</p>

    <input type="search" value="Search" class="btn btn-default"><br/> 
    <button type="submit" value="Submit Search" class="btn btn-primary">Click to Search</button> 
</div>