@page "/search"
@inject LibraryDBContext connection


<input type="text" class="form-control" @oninput="search">

@foreach (var book in bookResult)
{
	<h1>@book.Title</h1>
}


@code
{
	public string searchString;

	List<Book> bookResult = new List<Book>();

	void search(ChangeEventArgs s) {
		bookResult = connection.Books.Where(b => b.Title.Contains(s.Value.ToString())).ToList();

		StateHasChanged();
	}


}