<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Library</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="comingsoon" Match="NavLinkMatch.All">
                <span class="oi oi-calendar" aria-hidden="true"></span> Coming Soon
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search Library
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="book/manage">
                <span class="oi oi-pencil" aria-hidden="true"></span> Manage Books
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="book/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Book
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
